.header-container {
  background-color: white;
  box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
}
.menu-items {
  color: rgb(87, 81, 81);
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
  font-weight: bold;
}
.menu-items:hover {
  background-color: gray;
  color: white;
}
